html {
	overflow: hidden;
}
body {
	margin: 0;
	background-image: url(../res/background.png);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-tap-highlight-color: transparent;	
  	overflow: hidden;
  	-ms-touch-action: none;
  	-ms-user-select: none;	
}

table {
	font-family: 'PT Sans Narrow', 'sans-serif';
	padding: 5px;
	font-size: 20px;
	width: 100%;
	border-collapse: collapse;
	color: rgb(50,50,50);
	z-index: 3;
}

.right {
	text-align: right;	
	padding-right: 10px;
	border-bottom: 1px dashed rgb(200,200,200);
}

.left {
	text-align: left;	
	padding-left: 10px;
	border-bottom: 1px dashed rgb(200,200,200);
}

td.title {
	font-weight: bold;
	font-size: 30px;
	text-align: center;	
	background-color: rgb(255,255,255);
}

.highscores {
	background-color: rgb(255,255,255);
	opacity: 0.9;
	text-align: center;	
	visibility: hidden;
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
}

.score {
	font-family: 'PT Sans Narrow', 'sans-serif';
	z-index: 1; 
	font-weight: lighter;
	color: rgb(0,0,0);
	font-size: 50px;
	padding-left: 10px;
	position: fixed;
	top: 15px;
	left: 3px;
}

.score-label {
	font-family: 'PT Sans Narrow', 'sans-serif';
	z-index: 1; 
	font-weight: lighter;
	color: rgb(0,0,0);
	font-size: 20px;
	padding-left: 10px;
	position: fixed;
	top: 0px;
	left: 3px;	
}

.time {
	z-index: 1; 
	font-family: 'PT Sans Narrow', 'sans-serif';
	font-weight: lighter;
	color: rgb(0,0,0);
	font-size: 50px;
	position: fixed;
	top: 15px;
	right: 10px;
}

.time-label {
	z-index: 1; 
	font-family: 'PT Sans Narrow', 'sans-serif';
	font-weight: lighter;
	color: rgb(0,0,0);
	font-size: 20px;
	position: fixed;
	top: 0px;
	right: 10px;
}


.balloon {
	background-repeat: no-repeat; 
	width: 50px;
	height: 73px;
}

.tail {
	background-image: url(../res/tail0.png);
	height: 98px;
	width: 5px;
	background-repeat: no-repeat;
	position: absolute;
}

.gameover {
	visibility: hidden;
	background-color: rgb(255,255,255);
	z-index: 2; 
	font-family: 'PT Sans Narrow', 'sans-serif';
	font-size: 30px;
	position: absolute;
	width: 100%;
	opacity: 0.9;
	text-align: center;
	height: 100%;
}

.button {
	font-family: 'PT Sans Narrow', 'sans-serif';
	font-size: 30px;
	color: rgb(255,255,255);
	background-color: rgb(0,200,0);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: none;
	padding: 10px;
	z-index: 3; 
	visibility: hidden;
}

.textinput {
	border-radius: 5px; 
	font-size: 20px;
	text-align: center;
	width: 90%;	
}

.enterplayername {
	visibility: hidden;	
}

.invisible {
	visibility: hidden;
	display: none;	
}

.visible {
	visibility: visible;
	display: block;
}